@charset "UTF-8";
.mainArticle article .image img, .mainIndex a article div img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.btn, header nav .header__cart #nb__product {
  align-items: center;
  display: flex;
  justify-content: center;
}

header {
  background-color: #f3e9f1;
  height: 6rem;
  position: relative;
  padding: 0 2rem;
}
header nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
header nav img {
  height: 100%;
}
header nav .header__logo, header nav .header__cart {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
header nav .header__logo {
  height: 100%;
}
header nav .header__cart {
  height: fit-content;
  color: #464646;
}
header nav .header__cart #nb__product {
  background-color: #e27ece;
  border-radius: 50%;
  color: #f3e9f1;
  font-size: 1.2rem;
  height: 25px;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 25px;
  font-family: Halant-Bold;
}
header nav .header__cart:hover {
  transition: all linear 0.2s;
  color: black;
}

.mainIndex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 5rem;
  width: fit-content;
  margin: auto;
}
@media (max-width: 768px) {
  .mainIndex {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}
@media (max-width: 450px) {
  .mainIndex {
    grid-template-columns: 1fr;
  }
}
.mainIndex a article {
  display: inline-grid;
  height: 350px;
  max-width: 300px;
  border-radius: 2rem;
  border: 1px solid pink;
  overflow: hidden;
  position: relative;
  grid-template-rows: 200px 1fr 2fr;
}
.mainIndex a article div {
  height: 200px;
  width: 100%;
}
.mainIndex a article #teddy__name {
  font-family: Halant-Bold;
  font-size: 1.4rem;
  color: #464646;
  padding: 1rem 0 0 1rem;
}
.mainIndex a article #teddy__price {
  font-family: Halant-Bold;
  font-size: 1.4rem;
  color: pink;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.mainIndex a article #teddy__description {
  font-family: NunitoSans-Regular;
  font-size: 0.8rem;
  color: #8a8a8a;
  padding: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mainIndex a article:hover {
  transition: all linear 0.2s;
  box-shadow: 0px 0px 0px 1px pink;
}
.mainIndex a article:hover #teddy__name {
  transition: all linear 0.2s;
  color: pink;
}

.mainArticle {
  display: flex;
  padding: 5rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.mainArticle article {
  display: flex;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  border: 1px solid pink;
  border-radius: 2rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .mainArticle article {
    flex-direction: column;
  }
}
.mainArticle article .image {
  height: 300px;
  width: 300px;
}
@media (max-width: 768px) {
  .mainArticle article .image {
    height: fit-content;
    width: 300px;
  }
}
.mainArticle article .description {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 300px;
  position: relative;
}
@media (max-width: 768px) {
  .mainArticle article .description {
    padding: 0 1rem;
  }
}
.mainArticle article .description #article__colors, .mainArticle article .description #article__quantity {
  width: fit-content;
  font-family: NunitoSans-Regular;
}
.mainArticle article .description #article__price {
  font-family: Halant-Bold;
  font-size: 2rem;
  color: pink;
}
.mainArticle article .description #article__name {
  font-family: Halant-Bold;
  font-size: 2rem;
  color: #464646;
}
.mainArticle article .description #article__description {
  font-family: NunitoSans-Regular;
  font-size: 1rem;
  color: #8a8a8a;
}
.mainArticle article .description #btn__store {
  position: absolute;
  bottom: 10px;
  right: 1rem;
}
.mainArticle article .description #btn__store:active {
  bottom: 7px;
}

.mainPanier {
  display: flex;
  padding: 3rem 0;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  grid-column-gap: 3rem;
}
@media (max-width: 768px) {
  .mainPanier {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }
}
.mainPanier .container__total {
  display: block;
  width: fit-content;
}
.mainPanier .container__total table {
  width: fit-content;
  border: 1px solid;
  border-collapse: collapse;
}
.mainPanier .container__total table th {
  font-family: NunitoSans-Bold;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .mainPanier .container__total table {
    width: 100%;
  }
  .mainPanier .container__total table thead {
    display: none;
  }
}
@media (max-width: 768px) {
  .mainPanier .container__total table .panier .article {
    display: flex;
    flex-direction: column;
  }
}
.mainPanier .container__total table .panier .article td {
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid black;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .mainPanier .container__total table .panier .article td {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    width: 100%;
  }
  .mainPanier .container__total table .panier .article td::before {
    content: attr(data-title);
    display: block;
    text-align: left;
    width: 150px;
    font-family: "NunitoSans-Bold";
    font-size: 1.2rem;
  }
}
.mainPanier .container__total table .panier .article .image {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .mainPanier .container__total table .panier .article .image {
    justify-content: start;
  }
}
.mainPanier .container__total table .panier .article .image img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.mainPanier .container__total table .panier .article .price {
  text-align: center;
}
@media (max-width: 768px) {
  .mainPanier .container__total table .panier .article .price {
    text-align: left;
  }
}
.mainPanier .container__total table .panier .article .price #article__price {
  font-family: NunitoSans-Regular;
  font-size: 1.5rem;
}
.mainPanier .container__total table .panier .article .description #article__colors, .mainPanier .container__total table .panier .article .description #article__quantity {
  font-family: NunitoSans-Regular;
  font-size: 0.8rem;
  color: #8a8a8a;
  grid-column-start: 2;
}
.mainPanier .container__total table .panier .article .description #article__colors::before {
  content: "Couleur: ";
}
.mainPanier .container__total table .panier .article .description #article__name {
  font-family: Halant-Bold;
  font-size: 1.5rem;
  color: #464646;
}
.mainPanier .container__total table .panier .article .delete #article__delete {
  position: relative;
}
.mainPanier .container__total table .panier .article .delete #article__delete:active {
  top: 3px;
}
.mainPanier .container__total .article__total {
  margin-top: 2rem;
  width: fit-content;
  float: right;
}
.mainPanier .container__total .article__total td {
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid black;
  vertical-align: middle;
  font-family: "NunitoSans-Regular";
  font-size: 1.2rem;
}
.mainPanier .container__total .article__total #total__price {
  font-family: NunitoSans-Bold;
}
@media (max-width: 768px) {
  .mainPanier .container__form {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .mainPanier .container__form #my__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.mainPanier .container__form #my__form .form__contact {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .mainPanier .container__form #my__form .form__contact {
    width: clamp(250px,100%,300px);
  }
}
.mainPanier .container__form #my__form .form__contact label {
  font-size: 1.2rem;
  font-weight: 900;
  width: 150px;
  margin-bottom: 0.5rem;
}
.mainPanier .container__form #my__form .form__contact input, .mainPanier .container__form #my__form .form__contact button {
  padding: 0.5rem;
  font-size: 1rem;
}

.mainConfirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.mainConfirmation article {
  position: relative;
  width: clamp(250px,100%,850px);
  height: 100%;
  padding: 3rem 0;
  text-align: center;
}
.mainConfirmation article #confirmation__orderid {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 700;
  font-family: NunitoSans-Regular;
}
.mainConfirmation article #confirmation__orderid::before {
  content: "N° de commande : ";
  font-weight: 300;
}
.mainConfirmation article .confirmation__message {
  position: relative;
  padding: 3rem;
  font-size: 2rem;
  background-color: #b9b9b9;
}
.mainConfirmation article .confirmation__message #confirmation__prénom {
  font-weight: 700;
  color: #f3e9f1;
}
.mainConfirmation article .confirmation__message #confirmation__prénom::before {
  content: "Merci ";
  font-weight: 300;
  color: black;
}
.mainConfirmation article .confirmation__message #confirmation__price {
  font-weight: 700;
}
.mainConfirmation article .confirmation__message #confirmation__price::before {
  content: "Pour un montant de :  ";
  font-weight: 300;
}
.mainConfirmation article .confirmation__message p {
  font-family: NunitoSans-Regular;
}

.btn {
  background-color: #e27ece;
  border: none;
  border-radius: 1.2rem;
  box-shadow: 0px 3px 3px 0px;
  height: 30px;
  outline: none;
  padding: 1.2rem;
  width: 30px;
}
.btn i {
  color: #f3e9f1;
  font-size: 1.2rem;
}

.btn:active {
  transition: all linear 0.1s;
  background-color: #a22589;
  box-shadow: none;
}

.btn:hover {
  transition: all linear 0.1s;
  background-color: #a22589;
  cursor: pointer;
}

@font-face {
  font-family: "Halant-Bold";
  src: url("Halant-Bold.ttf");
}
@font-face {
  font-family: "NunitoSans-Regular";
  src: url("NunitoSans-Regular.ttf");
}
@font-face {
  font-family: "NunitoSans-Light";
  src: url("NunitoSans-Light.ttf");
}
@font-face {
  font-family: "NunitoSans-Bold";
  src: url("NunitoSans-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
