.mainIndex{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    padding: 5rem;
    width: fit-content;
    margin: auto;
    @include tablet-only{
        grid-template-columns: repeat(2,1fr);
        padding: 1rem;
    }
    @include phone-only{
        grid-template-columns: 1fr;
    }

    a{

        article{
            display: inline-grid;
            height: 350px;
            max-width: 300px ;
            border-radius: 2rem;
            border: 1px solid pink;
            overflow: hidden;
            position: relative;
            grid-template-rows: 200px 1fr 2fr;

            div{
                height: 200px;
                width: 100%;
                img{
                    @extend %img-cover;
                
                }
            }
            #teddy__name{
                //font-family, font-size, color
                @include font-details(Halant-Bold,1.4rem,#464646);
                padding: 1rem 0 0 1rem;
            }
            #teddy__price{
                @include font-details(Halant-Bold,1.4rem,pink);
                position: absolute;
                bottom: 1rem;
                right: 1rem;
            }
            #teddy__description{
                @include font-details(NunitoSans-Regular,0.8rem,#8a8a8a);
                padding:1rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            
        }
        article:hover{
            transition: all linear .2s;
            box-shadow: 0px 0px 0px 1px pink;
            #teddy__name{
                transition: all linear .2s;
                color: pink;
            }
        }
    }
}

.mainArticle{
    display: flex;
    padding: 5rem 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    article{
        display: flex;
        column-gap: 2.5rem;
        row-gap: 2.5rem;
        border: 1px solid pink;
        border-radius: 2rem;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        @include tablet-only{
            flex-direction: column;
        }



        .image{
            height: 300px;
            width: 300px;
            @include tablet-only{
                height: fit-content;
                width: 300px;
            }
            img{
                @extend %img-cover;
            
            }
        }
        .description{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            width:300px;
            position: relative;
            @include tablet-only{
                padding: 0 1rem;
            }
            
            #article__colors,#article__quantity{
                width:fit-content;
                font-family: NunitoSans-Regular;
            }

            #article__price{
                @include font-details(Halant-Bold,2rem,pink);
            }
            #article__name{
                @include font-details(Halant-Bold,2rem,#464646);
            }

            #article__description{
                @include font-details(NunitoSans-Regular,1rem,#8a8a8a);
            }
            #btn__store{
                position: absolute;
                bottom:10px;
                right: 1rem;
            }
            #btn__store:active{
                bottom:7px ;
            }
        }
    }
}

.mainPanier{
    display: flex;
    padding: 3rem 0;
    justify-content: center;
    box-sizing: border-box;
    margin: auto;
    grid-column-gap: 3rem;
    @include tablet-only{
        width: 100%;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }
    

    .container__total{
        display: block;
        width: fit-content;
        table{
            width: fit-content;
            border: 1px solid;
            border-collapse: collapse;
            th{
                font-family: NunitoSans-Bold;
                font-size: 1.2rem;
            }
    
            @include tablet-only{
                width:100%;
                thead{
                    display: none;
                }
            }
    
            .panier{
    
                .article{
                    @include tablet-only{
                        display: flex;
                        flex-direction: column;
                    }
                    td{
                        box-sizing: border-box;
                        padding: .5rem;
                        border: 1px solid black;
                        vertical-align: middle;
                        @include tablet-only{
                            display: grid;
                            align-items: center;
                            grid-template-columns: auto 1fr;
                            grid-column-gap: 1rem;
                            width: 100%;
                            &::before{
                                content: attr(data-title);
                                display: block;
                                text-align: left;
                                width: 150px;
                                font-family: 'NunitoSans-Bold';
                                font-size: 1.2rem;
                            }
                        }
                    }
                    .image{
                        display: flex;
                        justify-content: center;
                        @include tablet-only{
                            justify-content: start;
                        }
                        img{
                            height: 100px;
                            width: 100px;
                            object-fit: cover;
                        }
                    }
                    .price{
                        text-align: center;
                        @include tablet-only{
                            text-align: left;
                        }
                        #article__price{
                            font-family: NunitoSans-Regular;
                            font-size: 1.5rem;
                        }
                    }
                    .description{
                        
                        #article__colors,#article__quantity{
                            @include font-details(NunitoSans-Regular,.8rem,#8a8a8a);
                            grid-column-start: 2;
                        }
                        #article__colors::before{
                            content:"Couleur: ";
                        }
                        #article__name{
                            @include font-details(Halant-Bold,1.5rem,#464646);
                        }

                    }
                    .delete{
                        #article__delete{
                            position: relative;
                        }
                        #article__delete:active{
                            top:3px;
                        }
                    }

                }
            }
        }
        .article__total{
            margin-top: 2rem;
            width: fit-content;
            float: right;
            td{
                box-sizing: border-box;
                padding: .5rem;
                border: 1px solid black;
                vertical-align: middle;
                font-family: 'NunitoSans-Regular';
                font-size: 1.2rem;
            }
            #total__price{
                font-family: NunitoSans-Bold;
            }
        }
    }

    .container__form{
        @include tablet-only{
            width:100%;
        }
        #my__form{
            @include tablet-only{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .form__contact{
                width: 300px;
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
                @include tablet-only{
                    width:clamp(250px,100%,300px);
                }
                label{
                    font-size: 1.2rem;
                    font-weight: 900;
                    width: 150px;
                    margin-bottom: 0.5rem;
                }
    
                input, button{
                    padding: 0.5rem;
                    font-size: 1rem;
                }
                
            }
        }
        
    }
}

.mainConfirmation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    article{
        position: relative;
        width: clamp(250px,100%,850px);
        height: 100%;
        padding: 3rem 0;
        text-align: center;
        #confirmation__orderid{
            position: absolute;
            right: 0;
            top:0;
            font-weight: 700;
            font-family: NunitoSans-Regular;
        }

        #confirmation__orderid::before{
            content: "N° de commande : ";
            font-weight: 300;
        }
        .confirmation__message{
            position: relative;
            padding: 3rem;
            font-size: 2rem;
            background-color: #b9b9b9;

            #confirmation__prénom{
                font-weight: 700;
                color: #f3e9f1;
            }
            #confirmation__prénom::before{
                content:'Merci ';
                font-weight: 300;
                color: black;
            }
            #confirmation__price{
                font-weight: 700;
            }
            #confirmation__price::before{
                content:'Pour un montant de :  ';
                font-weight: 300;
            }
            p{
                font-family: NunitoSans-Regular;
            }
            
        }

    }
}