.mainIndex{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;

    a{
        margin: 2rem;

        article{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div{
                height: 275px;
                width: 275px;
                img{
                    @extend %img-cover;
                
                }
            }
            h2{
                font-size: 2rem;
                padding: 1rem 0;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }
}

.mainArticle{

}