.mainIndex{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0;
    width: 100%;
    justify-content: center;

    a{
        margin: 2rem;

        article{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div{
                height: 275px;
                width: 275px;
                img{
                    @extend %img-cover;
                
                }
            }
            #article__name{
                font-size: 2rem;
                padding: 1rem 0;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }
}

.mainArticle{
    display: flex;
    padding: 5rem 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    article{
        display: flex;
        justify-content: center;
        column-gap: 2.5rem;
        row-gap: 2.5rem;
        align-items: center;

        @include tablet-only{
            flex-direction: column;
        }
        .image{
            height: 275px;
            width: 275px;
            img{
                @extend %img-cover;
            
            }
        }
        .description{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            width:300px;
            border-left: 1px solid #6b6b6b;
            padding:0 2.5rem;
            @include tablet-only{
                border-top: 1px solid #6b6b6b;
                border-left: none;
                padding:2.5rem 0;
            }
            #article__name{

            }
            #article__lenses{
                width:fit-content;
            }

            #article__price{
                border-top: solid #6b6b6b 1px;
                font-size: 2rem;
            }
            #btn__store{
                width: fit-content;
                padding: 1rem 0.5rem;
                background-color: #f3e9f1;
                border-radius: 2rem;
                border: 2px solid #6b6b6b;
                box-shadow: 0px 5px 0px 0px #6b6b6b;
                outline: none;
                position: relative;
            }
            #btn__store:active{
                box-shadow: 0px 0px 0px 0px;
                top:5px;
            }
        }
    }
}