main{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;

    a{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
        width: clamp(250px,40%,350px);
        margin: 2rem;

        article{

            div{
                height: 235px;
                img{
                    @extend %img-cover;
                
                }
            }
            h2{
                font-size: 2rem;
                padding: 1rem 0;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }
}